--- Terraform Files to Ignore ---

The primary state file

*.tfstate
*.tfstate.backup

Local crash logs

crash.log

Terraform local config/modules

.terraform/
.terraform.lock.hcl

Terraform CLI history file

.terraform_history

Credentials/Secrets (IMPORTANT)

*.pem
.key
id_rsa
credentials
secrets.tfvars

terraform.tfstate.1762248441.backup 
terraform.tfstate.1762248869.backup
terraform.tfstate.1762419660.backup
terraform.tfstate.1762421234.backup